<h2>Database Contents</h2>
<br>
<h6>Note that climate data has been shrunk to yearly averages. The complete database stores them monthly.</h6>
<h6>Ids have been left out. To view the full data, sources, and more, check out the Data Article in the nav bar at the top (<a href="/data">data article</a>).</h6>
<a href="https://liambeckman.com/pkgs/voyager-index-data/voyager-index-data.csv">Download as CSV file.</a> (<a href="https://liambeckman.com/pkgs/voyager-index-data/sha256sums.txt">checksums</a>, <a href="https://liambeckman.com/pkgs/voyager-index-data/sha256sums.txt.asc">gpg</a>, key id = AC1CC079)
<table id="data">
        <thead>
    <tr>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>City</th>
        <th>Country</th>
        <th>Elevation</th>
        <th>Near Beach</th>
        <th>Has Airport</th>
        <th>Air Pollution Index</th>
        <th>Population</th>
        <th>Avg Temp C</th>
        <th>Avg UV Index</th>
        <th>Avg Precipitation (mm)</th>
    </tr>
        </thead>
    <% results.forEach(function(r) { %>
        <tr>
            <td><%= r.lon %></td>
            <td><%= r.lat %></td>
            <td><%= r.city %></td>
            <td><%= r.country %></td>
            <td><%= r.elevation %></td>
            <td><%= r.beach %></td>
            <td><%= r.airport %></td>
            <td><%= r.pollution %></td>
            <td><%= r.population %></td>
            <td><%= r.temp %></td>
            <td><%= r.uv %></td>
            <td><%= r.precip %></td>
        </tr>
        <% }); %>
</table>

<script>
    /*
    $(document).ready( function () {
        let table = $('#data').DataTable( {
            responsive: true,
            fixedHeader: true,
            "pageLength": 50
        });
    } );
    */
</script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/sc-2.0.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/sc-2.0.0/datatables.min.js"></script>
