<div class="container-fluid">
    <button id="toggle" class="btn btn-success btn-sm">Toggle Filters</button>
    <% include ../partials/city-popup.ejs %>
    <div class="row">
    <% include ../partials/filter.ejs %>
        <div id="content" class="col-lg-10">
            <input id="city-search" type="text" name="search" placeholder="Search..." />
            <button id="clear">x</button>

            <div class="grid-container" style="display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            grid-gap: 20px;">

                <% cityRank.cities.forEach(function(c) { %>
                <div class="grid-item">
                    <img class='city-image' src=''></img>
                    <h3 class='city-name' data-name='<%= c[0] %>'><%= c[0] %></h3>
                    <div data-lon='<%= c[1] %>'></div>
                    <div data-lat='<%= c[2] %>'></div>
                    <div data-rank='<%= c[3] %>'></div>
                    <div data-id='<%= c[4] %>'></div>
                    <div data-image='<%= c[5] %>'></div>
                    <p class'hover-text'></p>
                </div>
                <% }); %>

                <div id='map-hide'></div>
            </div>
        </div>
    </div>

    <div id="map-hide"></div>
</div>

<% include ../partials/scripts.ejs %>
