<input id="city-search" type="text" name="search" placeholder="Search..." />
<button id="clear">x</button>

<div class="container-fluid">
    <button id="toggle" class="btn btn-success btn-sm">Toggle Filters</button>
    <% include ../partials/city-popup.ejs %>
    <div class="row">
        <!-- Filter area -->
        <div id="filter-col" class="col-lg-2 scroll-box">
            <div id="filter">
                <br>
                <button class="btn btn-default internet">Fast Internet</button>
                <button class="btn btn-default pollution">Low Air Pollution</button>
                <button class="btn btn-default beaches">Close to the Beach</button>
                <hr>
                <button class="btn btn-default rural" >Rural</button>
                <button class="btn btn-default town" >Town</button>
                <button class="btn btn-default city" >City</button>
                <button class="btn btn-default metro" >Metro</button>
                <hr>
                <p>Month Visiting</p>
                <button class="btn btn-default jan" >Jan</button>
                <button class="btn btn-default feb" >Feb</button>
                <button class="btn btn-default mar" >Mar</button>
                <button class="btn btn-default apr" >Apr</button>
                <button class="btn btn-default may" >May</button>
                <button class="btn btn-default jun" >June</button>
                <button class="btn btn-default jul" >July</button>
                <button class="btn btn-default aug" >Aug</button>
                <button class="btn btn-default sep" >Sep</button>
                <button class="btn btn-default oct" >Oct</button>
                <button class="btn btn-default nov" >Nov</button>
                <button class="btn btn-default dec" >Dec</button>
                <hr>
                <button class="btn btn-default uv" >Low UV index</button>
                <button class="btn btn-default precipitation" >Low Precipitation</button>
                <hr>
                <button class="btn btn-default cold">Cold</button>
                <button class="btn btn-default temperate">Temperate</button>
                <button class="btn btn-default warm">Warm</button>
                <button class="btn btn-default hot">Hot!</button>
                <hr>
                <button class="btn btn-default airports">Must have an airport</button>
                <button class="btn btn-default purchase">USD goes further</button>
                <button class="btn btn-default palms">Coconut trees</button>
                <hr>
                <button class="btn btn-default high-poverty-index">high poverty index</button>
                <button class="btn btn-default medium-poverty-index">medium poverty index</button>
                <button class="btn btn-default low-poverty-index">low poverty index</button>
                <hr>
                <button class="btn btn-default safe">Safe</button>
                <button class="btn btn-default safeforwomen">Safe for Women</button>
            </div>
        </div>


        <div id="content" class="col-lg-10">
            <div class="grid-container" style="display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            grid-gap: 20px;">

                <% cities.forEach(function(c) { %>
                <div class="grid-item">
                    <img class='city-image' src=''></img>
                    <h3 class='city-name' data-name='<%= c[0] %>'><%= c[0] %></h3>
                    <div data-lon='<%= c[1] %>'></div>
                    <div data-lat='<%= c[2] %>'></div>
                    <div data-rank='<%= c[3] %>'></div>
                    <div data-id='<%= c[4] %>'></div>
                    <p class'hover-text'></p>
                </div>
                <% }); %>

                <div id='map-hide'></div>
            </div>
        </div>
    </div>

    <div id="map-hide"></div>
</div>

<script src="city.js"></script>
<script src="post.js"></script>
<script src="grid.js"></script>
<script src="main.bundle.js"></script>
<script src="city-popup.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.apikey %>&libraries=places"></script>

<script src="city-fallback.js"></script>
<script src="searchbar.js"></script>
